{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is a video <a href='/' target='_blank'>SomiAnimation</a> website.</p>
	</div>
</div>
